state-machines/SubmitForestCoverModel.asl.json
{
  "Comment": "Flow to register a model from DataSci sandbox to project space",
  "StartAt": "Register Model",
  "States": {
    "Register Model": {
      "Comment": "Copy the model artifacts into the project bucket and create the API object",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FunctionRegisterModelName}",
        "Payload.$": "$"
      },
      "Next": "Test Transform"
    },
    "Test Transform": {
      "Comment": "TODO: Replace me with a batch transform operation",
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Deployment Approval"
    },
    "Deployment Approval": {
      "Comment": "Send a request email and wait for a click on the embedded approve or reject link",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 604800,
      "Parameters": {
        "FunctionName": "${FunctionRequestApprovalName}",
        "Payload": {
          "ExecutionContext.$": "$$",
          "ApprovalUri": "${ApprovalUri}",
          "RejectionUri": "${RejectionUri}",
          "ManagerEmailAddress": "${ManagerEmail}",
          "EmailTopic": "${EmailTopic}",
          "TimeoutDescription": "one week"
        }
      },
      "Next": "Approval Outcome"
    },
    "Approval Outcome": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Status",
          "StringEquals": "Approved",
          "Next": "Canary Deploy"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "Rejected",
          "Next": "Rejected"
        }
      ]
    },
    "Rejected": {
      "Comment": "TODO: Any notification required?",
      "Type": "Fail",
      "Cause": "Rejection link clicked",
      "Error": "Rejected"
    },
    "Canary Deploy": {
      "Comment": "TODO: Low-weight deployment to endpoint",
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Monitor"
    },
    "Monitor": {
      "Comment": "TODO: Monitor for errors",
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Scale"
    },
    "Scale": {
      "Comment": "TODO: Shift traffic to new model",
      "Type": "Pass",
      "End": true
    }
  }
}